body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.846;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
  box-sizing: border-box;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #f3f7f9;

  padding-bottom: 65px;
  margin-bottom: 60px;
}

.main-header-inner-page {
  margin-bottom: 20px;
}

.user-menu {
  font-size: 17px;

  background-color: #293449;

  margin-bottom: 48px;
}

.user-menu-list,
.site-navigation,
.promo-list,
.goods-list,
.popular-manufacturers-list,
.services-list,
.transport_company-list,
.footer-navigation,
.social-buttons,
.user-area,
.breadcrumbs,
.sort-by-list,
.pagination-list,
.filter-option {
  list-style: none;
}

.user-menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.user-menu-list a,
.site-navigation a {
  color: #ffffff;
}

.logotype {
  background-color: #ee3643;

  width: 220px;
  box-shadow: 0 5px 0 0px #b52933;

  position: relative;
}

.logotype img {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.logotype:hover {
  background-color: #ca2c37;
}

.logotype:focus {
  background-color: #ba2732;
}

.user-menu-option:nth-child(2) {
  position: relative;
}

.user-menu-option:nth-child(2)::before {
  content: "";

  width: 20px;
  height: 20px;

  position: absolute;
  left: 18px;
  top: 12px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-menu-option:nth-child(2):focus::before {
  content: "";

  width: 20px;
  height: 20px;

  position: absolute;
  left: 18px;
  top: 12px;

  background-image: url("../img/icon-search-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-menu-option input {
  color: #ffffff;
  font: inherit;
  background-color: inherit;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 0;
}

.user-menu-option input:focus {
  color: #000000;

  background-color: #ffffff;
}

.user-menu-option a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-menu-list li:nth-child(2) {
  display: flex;
  flex-grow: 1;
}

.user-menu-option input {
  flex-grow: 1;
}

.user-menu-option:nth-child(3) a,
.user-menu-option:nth-child(4) a {
  position: relative;
}

.user-menu-option:nth-child(3) a {
  padding-left: 45px;
}

.user-menu-option:nth-child(3) a::before {
  content: "";

  width: 18px;
  height: 20px;

  position: absolute;
  left: 18px;
  top: 12px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-menu-option:nth-child(4) a {
  padding-left: 50px;
}

.user-menu-option:nth-child(4) a::before {
  content: "";

  width: 18px;
  height: 20px;

  position: absolute;
  left: 18px;
  top: 12px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-menu-option:nth-child(3),
.user-menu-option:nth-child(4),
.user-menu-option:last-child {
  width: 150px;
}

.user-menu-option:last-child {
  background-color: #63a63e;
  text-align: center;
}

.user-menu-option:last-child:hover {
  background-color: #5fbb2d;
}

.user-menu-option:nth-child(3) a:hover,
.user-menu-option:nth-child(4) a:hover {
  background-color: #161d29;
}

.user-menu-option:nth-child(3) a:hover::before,
.user-menu-option:nth-child(4) a:hover::before {
  opacity: 1;
}

.user-menu-option a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.header-middle-wrapper {
  padding-left: 50px;
  margin-bottom: 42px;
  display: flex;
  justify-content: flex-start;
}

.about-shop-contacts p {
  margin: 0;
}

.about-shop-info {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  margin: 0;
  margin-right: 70px;
}

.phone-number {
  font-size: 21px;
  font-weight: 400;
  color: #ee3643;

  width: 192px;
  border: 3px solid #ffffff;
  padding-left: 72px;

  position: relative;
}

.phone-number::before {
  content: "";

  width: 21px;
  height: 21px;

  position: absolute;
  left: 15px;
  top: 8px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-shop-contacts p {
  font-size: 14px;
  color: #32425c;
  text-align: center;
}

.user-log-in-index {
  font-size: 21px;
  color: #000000;

  width: 280px;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-log-in-index a {
  color: #000000;
  background-color: #ffffff;

  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

.user-log-in-index a:hover {
  color: #ee3643;
}

.user-log-in-index a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-log-in-index a:first-child {
  width: 72px;
  padding-left: 48px;
  position: relative;
}

.user-log-in-index a:first-child::before {
  content: "";

  width: 22px;
  height: 19px;

  position: absolute;
  left: 14px;
  top: 14px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-log-in-index a:first-child:hover::before {
  content: "";

  width: 22px;
  height: 19px;

  position: absolute;
  left: 14px;
  top: 14px;

  background-image: url("../img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-log-in-index a:last-child {
  width: 150px;
  text-align: center;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;

  padding: 0 24px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  display: block;
  font-size: 17px;
  padding: 12px 30px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.button {
  font-family: "Cuprum";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #ee3643;

  display: block;

  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.promo {
  margin-bottom: 53px;
}

.promo-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;
}

.promo-list-item {
  font-family: "Cuprum";
  color: #ffffff;

  width: 275px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-top: 15px;

  position: relative;
}

.promo-list-item h3 {
  font-size: 23px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px;
}

.promo-list-item.slider {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
  padding-left: 25px;
  padding-top: 23px;
  padding-bottom: 23px;

  position: relative;
}

.slider {
  padding: 0;
}

.slider img {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  z-index: 1;
}

.slider h4,
.slider span,
.slider a {
  position: relative;
  z-index: 2;
}

.slider span {
  display: block;
  margin-bottom: 115px;
}

.slider .button {
  display: inline-block;
  padding-left: 47px;
  padding-right: 47px;
}

a.promo-button {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0,0,0,0.1);

  display: block;
  width: 135px;
  padding: 6px 0;
  margin-bottom: 22px;

  border-radius: 3px;
  border: none;
}

a.promo-button:hover {
  background-color: rgba(0,0,0,0.2);
}

a.promo-button:focus {
  background-color: rgba(0,0,0,0.3);
}

.promo-list-item:first-child {
  background: #ffc047 url("../img/new-flag.png") no-repeat top right;
}

.promo-list-item:last-child {
  background-color: #ffc047;
}

.promo-list-item:last-child {
  position: absolute;
  right: 0;
  bottom: -20px;
}

.promo-list-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-list-item:nth-child(3) {
  background-color: #dc91d8;
}

.promo-list-item:nth-child(5) {
  background-color: #8ed78f;
}

.promo-list-item.slider {
  background-color: #b4a390;
  margin-bottom: 0;
}

.promo-list-item h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;

  margin: 0;
}

.promo-list-item span {
  font-family: "PT Sans";
  font-size: 18px;
}

.promo-list-item:first-child h3::after {
  content: "";

  width: 52px;
  height: 70px;

  position: absolute;
  right: 34px;
  top: 31px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list-item:nth-child(2) h3::after {
  content: "";

  width: 78px;
  height: 65px;

  position: absolute;
  right: 25px;
  top: 32px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list-item:nth-child(3) h3::after {
  content: "";

  width: 82px;
  height: 65px;

  position: absolute;
  right: 25px;
  top: 32px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list-item:nth-child(5) h3::after {
  content: "";

  width: 63px;
  height: 75px;

  position: absolute;
  right: 40px;
  top: 25px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-list-item:last-child h3::after {
  content: "";

  width: 82px;
  height: 67px;

  position: absolute;
  right: 25px;
  top: 33px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.head2-box {
  position: relative;
}

.head2-box .button {
  width: 254px;
  position: absolute;
  right: 21px;
  top: 26px;
}

.popular-goods h2,
.popular-manufacturers h2,
.inner-page-title {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f9f5f0;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
}

ul.goods-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.goods-item {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  line-height: 20px;
  text-align: center;

  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;

  position: relative;
}

.goods-list-index li:nth-child(4n) {
  margin-right: 0;
}

.goods-list-inner li:nth-child(3n) {
  margin-right: 0;
}

.goods-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  z-index: 20;
}

.goods-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
  display: none;
}

.goods-list-index li:last-child .flag-new {
  display: block;
}

.goods-list-inner li:nth-child(3) .flag-new,
.goods-list-inner li:nth-child(5) .flag-new,
.goods-list-inner li:nth-child(7) .flag-new {
  display: block;
}

p.goods-image {
  margin: 0;

  width: 218px;
  height: 158px;
}

h3.goods-name {
  font-size: 18px;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.goods-price {
  font-size: 17px;

  margin: 0;
  margin-top: auto;
}

.goods-price span {
  display: block;
}

.goods-old_price {
  text-decoration: line-through;
  color: #a9a9a9;

  margin-bottom: 8px;
}

.goods-new_price {
  color: white;
  background-color: #ee3643;

  position: relative;

  width: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  border-radius: 3px;
}

.goods-new_price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -27px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.goods-item .actions {
  font-size: 14px;
  font-family: "Cuprum";
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  width: 218px;
  height: 88px;
  padding: 40px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  color: #ffffff;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  border-radius: 3px;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.buy::before {
  content: "";

  width: 18px;
  height: 18px;

  position: absolute;
  left: 52px;
  top: 52px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.buy:focus {
  background-color: #518534;
  border-color: #518534;
}

.buy:hover::before,
.buy:focus::before {
  opacity: 1;
}

.bookmark:hover {
  border-color: #32425c;
}

.bookmark:focus {
  opacity: 0.3;
}

.goods-item .actions {
  display: none;
}

.goods-item-no-image .actions {
  display: block;
}

.goods-item-no-image .goods-image {
  display: none;
}

.goods-item-no-image .goods-name {
  margin-top: 177px;
}

.goods-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-item:hover .actions {
    display: block;
}

.goods-item:hover .goods-image img {
    display: none;
}

ul.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

.popular-manufacturers-item {
  width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.popular-manufacturers-item {
position: relative;
}

.popular-manufacturers-item img {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.popular-manufacturers-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers-item:focus {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services,
.about-punchers {
  background-color: #f4f7f9;
}

.services-wrapper {
  padding-top: 53px;
}

.services-wrapper > p {
  margin: 0;
  margin-bottom: 70px;
}

.services {
  margin-bottom: 68px;
}

.services h2,
.about-company h2,
.contacts h2,
.about-punchers h2 {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 15px;
}

.services-columns {
  display: flex;
}

ul.services-list {
  width: 240px;
  padding: 0;
  padding-bottom: 102px;
  margin: 0;
  margin-right: 80px;

  position: relative;

}

.services-list::after {
  content: "";

  width: 12px;
  height: 274px;

  position: absolute;
  right: -2px;
  bottom: 50px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list a {
  font-family: "Cuprum";
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;

  background-color: #32425c;

  display: block;
  padding: 11px 20px;
}

.services-list-item-active a {
  color: #32425c;
  background-color: #ffffff;
}

.services-list-item a:hover {
  background-color: #293449;
}

.services-list-item a:active {
  color: #32425c;

  background-color: #ffffff;
}

.services-item h4 {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #32425c;

  margin: 0;
  margin-bottom: 25px;;
}

.services-item {
  flex-grow: 1;

  background-image: url("../img/delivery.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.services-item p {
  margin: 0;
}

.about-company-columns {
  display: flex;
  justify-content: space-between;
  min-height: 370px;

}

.about-company {
  width: 520px;
}

.about-company p {
  margin: 0;
}

.about-company p:first-of-type {
  margin-bottom: 25px;
}

ul.transport_company-list {
  padding: 0;
  margin-bottom: 28px;
}

.transport_company-list-item {
  font-family: "Cuprum";
  font-size: 18px;
  color: #000000;

  display: block;
  margin-bottom: 10px;
  padding-left: 35px;

  position: relative;
}

.transport_company-list-item::before {
  content: "";

  width: 25px;
  height: 2px;

  background-color: #ee3643;

  position: absolute;
  left: 0px;
  top: 15px;
}

.about-company .button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
}

.contacts img {
  margin-bottom: 35px;
}

.contacts .button {
  width: 100%;
}

.main-footer {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;

  padding-bottom: 50px;
}

.main-footer-top-row,
.main-footer-bottom-row {
  display: flex;
  flex-wrap: space-between;
}

.main-footer-top-row {
  align-items: flex-end;
}

.main-footer-bottom-row {
  margin-top: 32px;
}

.main-footer-top-row .logotype {
  margin-right: auto;
  padding: 32px 0;
}

p.footer-contacts {
  margin: 0;
  margin-right: auto;
}

.footer-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-navigation li {
  margin-left: 60px;
}

.footer-navigation li:first-child {
  margin-left: 0;
}

.footer-navigation-top-row a {
  color: #ffffff;
}

.footer-navigation-bottom-row a {
  color: #ffd180;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation-top-row a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.footer-navigation-bottom-row a:focus {
  color: rgba(255, 209, 128, 0.5);
}

.social {
  font-family: "Cuprum";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;

  padding-top: 40px;
  padding-bottom: 30px;
}

.social-columns {
  display: flex;
  flex-wrap: wrap;
}

p.footer-copyright,
p.footer-feedback {
  margin: 0;
}

p.footer-copyright {
  margin-right: 166px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;

  width: 130px;

  margin: 0;
  margin-right: 120px;
  padding: 0;
}

.social-button {
  display: block;

  background-color: #212a3a;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;
}

li:first-child .social-button {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

li:nth-child(2) .social-button  {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

li:last-child .social-button {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover {
  background-color: #ee3643;
}

.social-button:focus {
  background-color: #ee3643;
}

.social-columns p:nth-of-type(2) {
  margin-right: 52px;
}

a.web {
  color: #ffd180;
}

a.web:hover {
  text-decoration: underline;
}

a.web:focus {
  color: #ee3643;
}

.write-us-form label {
  font-family: "Cuprum";
  font-size: 18px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: "Cuprum";
  font-size: 13px;
  color: #a9a9a9;
}

.user-log-in-inner {
  margin-left: auto;
}

a.user-name {
  position: relative;

  display: block;
  width: 255px;

  font-size: 21px;
  color: #000000;

  background-color: #ffffff;

  padding-left: 45px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a.user-name::before {
  content: "";

  width: 22px;
  height: 20px;

  position: absolute;
  left: 15px;
  top: 12px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.user-name::after {
  content: "";

  width: 22px;
  height: 20px;

  position: absolute;
  left: 270px;
  top: 12px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.user-name:hover::before {
  content: "";

  width: 22px;
  height: 20px;

  position: absolute;
  left: 15px;
  top: 12px;

  background-image: url("../img/icon-user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.user-name:hover::after {
  content: "";

  width: 22px;
  height: 20px;

  position: absolute;
  left: 270px;
  top: 12px;

  background-image: url("../img/icon-logout-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.user-name:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-area {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-area-option {
  font-family: "Cuprum";
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-area-option:hover {
  color: #ee3643;
}

.user-area-option:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-area li:first-child {
  position: relative;

  padding-left: 17px;
  padding-right: 32px;
}

.user-area li:first-child::after {
  content: "";

  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;

  position: absolute;
  right: 12px;
  top: 12px;
}

.cart-active {
  background-color: #ee3643;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-bottom: 15px;
  padding: 0;
}

.breadcrumbs li {
  position: relative;

  padding-right: 41px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: "";

  position: absolute;

  width: 7px;
  height: 7px;

  transform: rotate(45deg);

  border-right: 2px solid #d7dcde;
  border-top: 2px solid #d7dcde;

  top: 5px;
  right: 19px;
}

.filters {
  width: 220px;
}

.filters h2,
.sort-by h2 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
}

.filters h2,
.sort-by {
  background-color: #f7f3ec;

  border-radius: 3px;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
}

.filters h2 {
  margin-bottom: 10px;
}

.sort-by h2 {
  margin-right: 140px;
}

.sort-by {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;
}

.sort-by-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-by-list li:first-child {
  margin-right: 70px;
}

.sort-by-list li:nth-child(2) {
  margin-right: 66px;
}

.sort-by-list li:last-child {
  margin-right: 45px;
}

.sort-by-list a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-item-current a {
  color: #ee3643;
  border-bottom: none;
}

.sort-by-list a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by-list a:active {
  color: #ee3643;
  border-bottom: none;
}

.sort-by-controls {
  display: flex;
  justify-content: space-between;

  width: 43px;

  margin-left: 0px;
}

.control-up {
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}

.control-up-current {
  border-bottom: 10px solid #ee3643;
}

.control-down {
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
}

.control-up:hover {
  border-bottom: 10px solid #000000;
}

.control-down:hover {
  border-top: 10px solid #000000;
}

.control-up:active {
  border-bottom: 10px solid #ee3643;
}

.control-down:active {
  border-top: 10px solid #ee3643;
}

fieldset.choosing-perforators {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}

fieldset.choosing-perforators:last-of-type {
  margin-bottom: 60px;
}

legend.search-form {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 220px;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
  margin-bottom: 10px;
}

.choosing-perforators:first-child legend {
  border-top: none;
  padding-top: 0;
}

.choosing-perforators label {
  font-size: 15px;
  text-transform: uppercase;

  display: block;
  margin-bottom: 13px;
  padding-left: 35px;

  position: relative;

  cursor: pointer;
  user-select: none;
}

.choosing-perforators:last-of-type label {
  font-size: 14px;
  text-transform: uppercase;
}

.range-filter {
  width: 220px;
  margin-bottom: 20px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls input {
  display: block;
  width: 95px;
  height: 38px;

  background-color: #f7f3ec;

  padding: 0;

  border: none;
  border-radius: 3px;

  font-family: inherit;
  font-size: 17px;
  text-align: center;
}

.choosing-perforators ul {
  margin: 0;
  padding: 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:disabled + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:disabled + label::before {
  content: "";

  position: absolute;

  width: 29px;
  height: 27px;

  top: 0;
  left: 0;

  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.filter-input-checkbox:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-radio:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  font: inherit;
  text-transform: uppercase;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  padding: 7px 38px;
  cursor: pointer;
}

.filter-catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-wrapper {
  width: 700px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  background-color: #ffffff;

  padding: 7px 14px;
  margin-right: 10px;
}

.pagination-item a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.next-page a {
  width: 140px;
  margin-right: 0;
  padding: 7px 32px;
}

.about-punchers {
  padding-top: 55px;
  padding-bottom: 68px;
}

.about-punchers p {
  margin: 0;
}

.modal {
  position: fixed;

  top: 120px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  border-top: 6px solid #ee3643;

  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);

  z-index: 30;

  display: none;
}

.modal-info {
  position: relative;

  font-family: "Cuprum";
  font-size: 30px;

  background-color: #ffffff;

  min-height: 110px;
  padding-top: 53px;
  padding-left: 180px;
  margin: 0;
}

.modal-info::before {
  content: "";

  position: absolute;

  width: 66px;
  height: 66px;

  left: 80px;
  top: 48px;

  background-color: #63a63e;

  border-radius: 50%;
}

.modal-info::after {
  content: "";

  position: absolute;

  width: 28px;
  height: 14px;

  left: 95px;
  top: 68px;

  border-bottom: 7px solid #ffffff;
  border-left: 7px solid #ffffff;

  transform: rotate(-45deg);
}

.modal-info-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f1f1f1;

  height: 112px;
}

.modal-info-buttons a {
  width: 220px;
  padding: 6px 0;
}

.modal-info-buttons .button:last-of-type {
  color: #000000;

  background-color: #ffffff;

  margin-left: 20px;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 20px;

  width: 23px;
  height: 23px;

  font-size: 0;

  border: 0;

  cursor: pointer;

  background-color: #ffffff;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;

  width: 25px;
  height: 3px;

  background-color: #ee3643;

  border-radius: 3px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
