body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.846;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #f3f7f9;

  padding-bottom: 60px;
  margin-bottom: 60px;
}

.user-menu {
  font-size: 17px;
  color: #ffffff;

  background-color: #293449;

  margin-bottom: 45px;
}

.user-menu:hover {
  background-color: #212a3a;
}

.user-menu:focus {
  color: rgba(0, 0, 0, 0.6);

  background-color: #161d29;
}

.user-menu-list,
.site-navigation,
.promo-list,
.goods-list,
.popular-manufacturers-list,
.services-list,
.transport_company-list,
.footer-navigation,
.social-buttons,
.user-area,
.breadcrumbs,
.sort-by-list,
.pagination-list {
  list-style: none;
}

.user-menu-list {
  padding: 0;
  min-height: 40px;
  display: flex;
}

.user-menu-list a,
.site-navigation a {
  color: #ffffff;
}

.logotype {
  background-color: #ee3643;

  width: 220px;
}

.logotype:hover {
  background-color: #ca2c37;
}

.logotype:focus {
  background-color: #ba2732;
}

.search input {
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: 0;
  padding: 0;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.user-menu-option:nth-child(2) {
  flex-grow: 1;
}

.user-menu-option:nth-child(3),
.user-menu-option:nth-child(4),
.user-menu-option:last-child {
  width: 150px;
}

.user-menu-option:last-child {
  background-color: #63a63e;
}

.user-menu-option:last-child:hover {
  background-color: #5fbb2d;
}

.user-menu-option a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.header-middle-wrapper {
  width: 890px;
  padding-left: 50px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.about-shop-contacts {
  width: 270px;
}

.about-shop-contacts p {
  margin: 0;
}

.about-shop-info {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  margin: 0;
}

.phone-number {
  font-size: 21px;
  font-weight: 400;
  color: #ee3643;
}

.about-shop-contacts p {
  font-size: 14px;
  color: #32425c;
}

.user-log-in-index {
  font-size: 21px;
  color: #000000;

  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-log-in-index a {
  color: #000000;
  background-color: #ffffff;
}

.user-log-in-index a:hover {
  color: #ee3643;
}

.user-log-in-index a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-log-in-index a:first-child {
  width: 120px;
  min-height: 45px;
}

.user-log-in-index a:last-child {
  width: 150px;
  min-height: 45px;
}

.site-navigation {
  background-color: #32425c;

  width: 840px;
  min-height: 55px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.site-navigation li {
  font-size: 17px;

  background-color: #32425c;

  flex-grow: 1;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation li:focus {
  background-color: #293449;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.5);
}

.promo {
  margin-bottom: 53px;
}

.promo-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-list-item {
  font-family: "Cuprum";
  color: #ffffff;

  width: 300px;
  min-height: 120px;
  margin-bottom: 20px;
}

.promo-list-item h3 {
  font-size: 23px;
  font-weight: 700;
  margin: 0;
}

.promo-list-item.slider {
  width: 620px;
  min-height: 266px;
}

a.promo-button {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0,0,0,0.1);
}

a.promo-button:hover {
  background-color: rgba(0,0,0,0.2);
}

a.promo-button:focus {
  background-color: rgba(0,0,0,0.3);
}

.promo-list-item:first-child,
.promo-list-item:nth-child(5) {
  background-color: #ffc047;
}

.promo-list-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-list-item:nth-child(3) {
  background-color: #dc91d8;
}

.items-wrapper .promo-list-item:last-of-type {
  background-color: #8ed78f;
}

.promo-list-item.slider {
  background-color: #b4a390;
  margin-bottom: 0;
}

.promo-list-item h4 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

.promo-list-item span {
  font-family: "PT Sans";
  font-size: 18px;
}

.popular-goods h2,
.popular-manufacturers h2,
.inner-page-title {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  min-height: 90px;

  background-color: #f9f5f0;
  margin: 0;
  margin-bottom: 20px;
}

ul.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.goods-item {
  font-weight: 700;

  width: 218px;
  min-height: 317px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.goods-item:hover {
  box-shadow: 0 10 50% 25 #293449;
}

.goods-name {
  font-size: 18px;
  color: #000000;
}

.goods-price {
  font-size: 17px;
}

.goods-old_price {
  text-decoration: line-through;
  color: #a9a9a9;
}

.goods-new_price {
    color: #ffffff;

    background-color: #ee3643;
}
ul.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

.popular-manufacturers-item {
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.services,
.about-punchers {
  background-color: #f4f7f9;
}

.services {
  margin-bottom: 75px;
}

.about-punchers {
  min-height: 260px;
}

.services h2,
.about-company h2,
.contacts h2,
.about-punchers h2 {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.services-columns {
  display: flex;
}

ul.services-list {
  width: 240px;
  padding: 0;
  margin-right: 80px;
}

.services-list a {
  font-family: "Cuprum";
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;

  background-color: #32425c;

  display: block;
  padding: 11px 0;

}

.services-list a:hover {
  background-color: #293449;
}

.services-list a:active {
  color: #32425c;

  background-color: #ffffff;
}

.services-item h4 {
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;

  margin: 0;
}

.about-company-columns {
  display: flex;
  justify-content: space-between;
  min-height: 370px;

}

.about-company {
  width: 520px;
}

.transport_company-list-item {
  font-family: "Cuprum";
  font-size: 18px;
  color: #000000;
}

.main-footer {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.main-footer-wrapper {
  display: flex;
  justify-content: flex-start;
}

.main-footer-contacts-column {
  flex-shrink: 0;
}

.footer-navigation {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-navigation li {
  margin-left: 63px;
}

.footer-navigation li:first-child {
  margin-left: 0;
}

.footer-navigation a {
  color: #ffffff;
}

a.menu-bottom-row {
  color: #ffd180
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
}

a.menu-bottom-row:focus {
  color: rgba(255, 209, 128, 0.5);
}

.social {
  font-family: "Cuprum";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.social-columns {
  display: flex;
}

.social-button {
    background-color: #212a3a;
}

.social-button:hover {
    background-color: #ee3643;
}

.social-button:focus {
    background-color: #ee3643;
}

a.web {
  color: #ffd180;
}

a.web:hover {
  text-decoration: underline;
}

a.web:focus {
  color: #ee3643;
}

.button {
  font-family: "Cuprum";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;

  display: block;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.write-us-form label {
  font-family: "Cuprum";
  font-size: 18px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: "Cuprum";
  font-size: 13px;
  color: #a9a9a9;
}

.user-area {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-name {
  width: 300px;
  min-height: 45px;
  background-color: #ffffff;
}

.user-name a {
  font-size: 21px;
  color: #000000;
}

.user-name a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-area .user-area-option {
  font-family: "Cuprum";
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-area .user-area-option:hover {
  color: #ee3643;
}

.user-area .user-area-option:focus {
  color: rgba(0, 0, 0, 0.3);
}

.basket-active {
  background-color: #ee3643;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.filters {
  width: 220px;
}

.filters h2,
.sort-by h2 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.filters h2,
.sort-by {
  background-color: #f7f3ec;
  min-height: 38px;
}

.sort-by {
  display: flex;
  margin-bottom: 20px;
}

.sort-by-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-by-list a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by-list a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by-list a:active {
  color: #ee3643;
  border-bottom: none;
}

fieldset.choosing-perforators {
  border: none;
}

legend.search-form {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.price-slider,
.price-form input {
  background-color: #f7f3ec;
}

.price-form {
  display: flex;
  justify-content: space-between;
}

.choosing-perforators {
  margin: 0;
  padding: 0;
}

.choosing-perforators label {
  font-size: 15px;
  text-transform: uppercase;
}

.choosing-perforators:last-of-type label {
  font-size: 14px;
  text-transform: uppercase;
}

.price-form input {
  border: 0;
  padding: 0;
  width: 95px;
  min-height: 38px;
}

.filter-button {
  font: inherit;
  font-size: 13px;
  text-transform: uppercase;

  background-color: #ffffff;
}

.filter-catalog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-wrapper {
  width: 700px;
}

.pagination-list {
  display: flex;

  padding: 0;
  margin: 0;
}

.pagination-item a {
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.pagination-item a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.item-hover {
  font-family: "Cuprum";
  font-size: 14px;
  text-transform: uppercase;
}

.item-hover:first-of-type {
  color: #ffffff;

  background-color: #63a63e;
}

.item-hover:first-of-type:hover {
  background-color: #5fbb2d;
}

.item-hover:first-of-type:focus {
  background-color: #518534;
}

.item-hover:last-of-type {
  color: #32425c;

  background-color: #ffffff;
}

.item-hover:last-of-type:focus {
  color: rgba(50, 66, 92, 0.3);
}

.about-punchers p {
  margin: 0;
}

.modal-info {
  font-family: "Cuprum";
  font-size: 30px;
}

.modal-info-buttons {
  background-color: #f1f1f1;
}

.modal-info-buttons .button:last-of-type {
  color: #000000;

  background-color: #ffffff;
}
